*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: Courier New;
}

body{
	background-color: #F5F8FD;
}

.mainGrid{
	display: grid;
	/*grid-template-columns: repeat(3, 2fr);*/
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
	"header header header"
	"menu menu menu"
	"title title title"
	"back profile data"
	"footer footer footer";
}

/*.mainGrid div:nth-child(6){
	background-color:red;
}

.mainGrid div:nth-child(4){
	background-color:blue;
}*/

.maingrid > div {
	/*border: 1px solid black;*/
}

.header{
	grid-area: header;
	display: grid;
	/*grid-template-columns: repeat(3, 1fr);*/
	grid-template-columns: 1fr 150px 1fr;
	grid-template-areas:
	"logo logo account"
	"search search account";
	background-image: url('pictures/header6.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 100%;
}

.header > div{
	/*border: 1px solid black;*/
}

.logo{
	grid-area: logo;
	padding-top: 30;
}

.logoPgh{
	/*transform: translate(400px,10px);*/
	width: 50px;
	height: 50px;
	margin-left: 300;

}

.proghub {
	width: 150px;
	height: 45px;
	margin-left: 10;
}

.search{
	grid-area: search;
	padding: 10 0 10 0;
	/*border-bottom:: 1px solid black;*/
}

.searchForm{
	display: inline;
}

.searchInput{
	padding: 7 5 7 30;
	box-sizing: border-box;
	width: 400;
	background-image: url("pictures/search.png");
	background-position: 10px 8px;
	background-size: 12px 12px;
	background-repeat: no-repeat;
	border-radius: 10px;
	margin: 0 0 0 300;
}

.searchInput:focus{
	border:1px solid transparent;
	border-radius: 10px;
}

.account{
	grid-area: account;
}

.signup{
	margin: 10 20 0 0;
	/*margin:10 30 0 0;*/
	display: inline-block;
}

.login{
	margin: 20 20 0 150;
	display: inline-block;
}

.logInBtn{
	color: #D0FF36;
}

.signUpBtn{
	color: #A464FF;
}

.signUpBtn, .logInBtn{
	text-decoration: none;
	font-size: 15px;
	padding: 3 4 3 4;
	/*border:1px solid #C1E9FF;*/
	border: transparent;
	border-radius: 8px;
	background-color: #323335;
	cursor:pointer;
}

.loginBtn:hover{
	color: #D0FF36;
}

.signUpBtn:hover{
	color: #A464FF;
}

.signUpBtn:hover, .loginBtn:hover{
	background-color: gray;
}

/*.account img{
	width: 35;
	height: 35;
	display: inline-flex;
	margin: 10 0 0 150;
}*/

.username{
	padding: 0 10 0 150;
	display: inline-block;
}

.settings{
	margin: 20 20 0 0;
	display: inline-block;
}

.usernameBtn{
	color:#D0FF36;
}

.settingsBtn{
	color: #A464FF;
}

.usernameBtn, .settingsBtn{
	text-decoration: none;
	font-size: 15px;
	padding: 3 4 3 4;
	/*border:1px solid #C1E9FF;*/
	border: transparent;
	border-radius: 8px;
	background-color: #323335;
	cursor:pointer;
}

.usernameBtn:hover{
	background-color: gray;
}

.settingsBtn:hover{
	background-color: gray;
}

.menu{
	grid-area: menu;
	background-color: #323335;

}

ul.nav{
	height: 40;
	margin-left: 350;	
}

ul.nav li{
	margin-top: 10;
	display: inline-block;
}

.homeBtn, .communityBtn, .usersBtn, .tagsBtn, .aboutBtn{
	margin-left: 5;
	padding: 5 5 4 5;
	color: #D0FF36;
	border-radius: 10px 10px 0 0;
	border: 1px solid transparent;
	background-color: #323335; 
	font-size: 17px;
	cursor:pointer;
}

.usersBtn{
	background-color: gray;
	color: #D0FF36;
}

.homeBtn:hover, .communityBtn:hover, .usersBtn:hover, .tagsBtn:hover, .aboutBtn:hover{
	background-color: gray;
	/*color: #A464FF;*/
}

.title{
	grid-area: title;
	margin-top: 5;
	height: 100;
	background-color: #A464FF;
	border: 1px solid black;
	border-radius: 20px 20px 0 0;
	width: 55%;
	justify-self: center;
	justify-content: center;
	display: flex;
}

.back{
	grid-area: back;
	text-align: center;
}

.backBtn{
	text-decoration: none;
	border: transparent;
	border-radius: 8px;
	background-color: #323335;
	font-size: 15px;
	padding: 3 4 3 4;
	color: #D0FF36;
	cursor:pointer;
	margin-top: 20;
}

.backBtn:hover{
	background-color: gray;
}

label.titleLabel{
	font-size: 40px;
	align-self: center;
}

.profile{
	grid-area: profile;
	background-image: url("pictures/innerbg.jpg");
	text-align:center;
}

.profileFormTable{
	margin-top: 10;
	border-spacing: 0 8;
	margin-left:auto; 
	margin-right:auto;
}

.profileFormTableUser{
	margin-top: 10;
	border-spacing: 0 8;
	margin-left:auto; 
	margin-right:auto;
	margin-bottom: 50;
}

ul.favorite{
	/*border: 1px solid black;*/
	display:block;
	margin-bottom: 50;
}

ul.favorite li{
	margin-top: 8;
	text-align: center;
	align-self: center;
}

.favoriteAcc{
	padding: 6 105 6 105;
	border-radius:5px;
	background-color: #1668CD;
	color: white;
	font-size: 17px;
	font-weight: bold;
	cursor:pointer;
}

.favoriteAcc:hover{
	filter: contrast(120%);
	filter: brightness(110%);
}

.profileImg{
	margin: 2 0 0 4;
	width: 200px;
	height: 200px;
}

.profileDetails{
	margin-left:20;
}

.data{
	grid-area: data;
}

ul.data{
	margin: 10 40 0 50;
	background-color: white;
	height: 70px;
	border-radius: 10px	;
	border: 1px solid #E1E1E1;
	text-align: center;
	width: 275px;
	background-color: #323335;
}

.top3posts{
	margin-top: 25;
	font-size: 18px;
	font-weight:bold;
	color: #D0FF36;
	margin-bottom: -10;
}

.singlePost{
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	padding: 10 0 10 10;
	margin: 10 0 0 0;
}

.postTitleBtn{
	border: 1px solid transparent;
	margin-left: 10;
	font-weight: bold;
	font-size: 20px;
	background-color: transparent;
	cursor: pointer;
}

.footer{
	grid-area: footer;
	margin: 40;
}